@media screen and (max-width:958px){
    div.pageCharteContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    img.imgCharte1{
        width: 100%;
        margin-top: 0px;
    }
    img.imgCharte2{
        width: 100%;
    }
    h2.h2Charte{
        font-size: 25px;
        color: black;
    }
    p.pCharte{
        width: 80%;
        text-align: left;
        font-size: 22px;
        color: rgb(46, 45, 45);
    }
} 
.pageCharteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.imgCharte1{
    margin-top: 100px;
}
.h2Charte{
    font-size: 25px;
    color: black;
}
.pCharte{
    width: 80%;
    text-align: left;
    font-size: 22px;
    color: rgb(46, 45, 45);
}
