@media screen and (min-width: 768px) {
  div.pageGalerieContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
  }
}

/*grand écran*/
.pageGalerieContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}
.texteInfoGalerie{
  padding: 20px;
  width: 90%;
  font-size: 22px;
  text-align: left;
  font-family: normal;
  color: black;
}
.pBleu{
  margin-bottom: 2em;
  font-size: 28px;
  font-family: normal;
  color: #2d808c;
}