@media screen and (max-width: 768px) {
  div.pageGalerieContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  div.cardsTexteContainerGalerie{
    display: flex;
    flex-direction: column;
  }
  div.allCardsTexteContainerGalerie{
    width: 100%;
  }
  img.commentaireimg:hover{
    transform: scale(1.0);
  }
  div.titreButtonContainerGalerie{
    margin: 3%;
    margin-bottom: 0;
    background-color: white;
    border-radius: 20px;
    width: 86%;
    padding: 20px;
  }
  h2.h2APropos{
    font-size: 30px;
  }
  div.separationApropos{
    height: 4em;
  }
  button.buttonReservezVotreConsultation{
    width: 72%;
      font-size: 15px;
  }
div.texteContainerGalerieOuvertGalerie{
   width: 86.1%;
}
img.commentaireimg{
  width: 95%;
  margin-top: 15px;
}
}
/*grand écran*/

.cardsTexteContainerGalerie{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: rgb(158 189 184);
}
  .allTexteContainerGalerie{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(158 189 184);
  }

  .h2TextContainerGalerie{
  margin-top: 3%;
  margin-bottom: -16px;
  color: #258083;
  }
.h2ServicesTextContainerGalerie{
  margin-top: 7%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin: 4%;
  width: 100%;
  min-height: 3em;
  position: relative;
  top: -39px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62px;
  font-weight: 200;
  font-family: "Dancing Script";
  padding-left: 4%;
  padding-right: 4%;
  width: auto;
  text-align: center;
  font-weight: 600;
  color: #258083;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.2);
}
.titreButtonContainerGalerie{
  margin: 3%;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  padding: 20px;
}


.imgchantalGalerie1{
  overflow: auto;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}
.texteContainerGalerieOuvertGalerie{
  padding: 20px;
  width: 90.1%;
  position: relative;
  top: -3%;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  color: rgb(128 152 148);
  background-color: white;
}

.ouvert2Galerie {
  width: 88.2%;
  padding-bottom: 20px;
  display: block; 
  margin-top: -2%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  animation-duration: 3s;
  transition-duration: 3s;
}
.separationGalerie{
  margin-top: 2%;
  width: 30%;
}

.pageGalerieContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.galContainer{
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.allTexteContainerGalerie{
  width: 100%;
  background-color: rgb(158 189 184);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texteInfoGalerie{
  padding: 20px;
  width: 90%;
  font-size: 22px;
  text-align: left;
  font-family: normal;
  color: black;

  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pBleu{
  font-size: 28px;
  font-family: normal;
  color: #2d808c;
}
.pBleu2{
  color: #2d808c;
}
.textRowContainer{
display: flex;
justify-content: left;
align-items: baseline;
}
.textInfo{
  font-size: 22px;
  font-family: normal;
}
.imgpaulo{
  width: 35%;
  border-radius: 277px;
}
.imgAlbert{
  width: 35%;
  border-radius: 277px;
}
.h2TextContainer {
  margin-top: 3%;
  margin-bottom: -16px;
  color: #258083;
}
.separationApropos{
  margin: 0;
  padding: 0;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: 600;
  overflow: hidden;
  background-size: contain;
  color: #258083;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url(../../images/backgroundfleurs.png) ;
}
.h2APropos{
  margin-left : 2%;
  font-size: 62px;
  text-align: center;
  font-weight: 600;
  font-family: "Dancing Script";
  color: #258083;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonReservezVotreConsultation{
  margin-top: 3%;
  margin-bottom: 4%;
  font-size: 22px;
  padding: 15px;
  border-radius: 10px;
  transition-duration: 1s;
  color: white;
  background-color: #258083;
  border: solid, #f5cfd2;
}
.buttonReservezVotreConsultation:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 1s;
  background-color: #92b65c;
}
.commentaireimg{
  width: 30%;
  transition-duration: 1s;
}
.commentaireimg:hover{
  transform: scale(1.1);
  transition-duration: 1s;
}
.fadeContainer{
  animation-delay: 0ms;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}