/*mobile*/
@media screen and (max-width: 768px) {
    div.carteInformations5Container{
        width: 90%;
        display: flex;
        flex-direction: column;
      }
      div.imgCi6Container{
        display: flex;
        width: 100%;
        max-height: 90vh;
      }
      img.imgCi6{
        min-height: 0;
        height: auto;
      }
      div.infoCi6Container{
      width: 100%;
      min-height: auto;
      height: auto;
      text-align: center;
      }
      h2.h2Ci6{
        text-align: center;
        width: auto;
        font-size: 22px;
        font-weight: 700;
      }
      p.pCi6{
        width: 100%;
        
      }
    }
/*grand écran*/

.carteInformations5Container{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(183 209 205) ;
}
.infoCi6Container{
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(183 209 205) ;
}
.h2Ci6{
  margin-top: 0;
  margin-bottom: 9%;
  width: 90%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: white;
  font-family: "Dancing Script";
}
.pCi6{
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  font-weight: 600;
  color: white;
  font-family: "Dancing Script";
}
.imgCi6Container{
  width: 50%;
  display: flex;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
  
}
.imgCi6{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}
.css-zvi4ix{
  width: 90%;
  display: flex;
  justify-content: center;
}
.pCi6Container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}