@media screen and (max-width: 768px) {
div.mentionsLegaleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1.h1MentionsLegales{
    color: #2E808C;
}
p.texteMentionsLegales{
    width: 90%;
    font-size: 12px;
}
}

/*grand écran*/
.mentionsLegaleContainer{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #264b50;
}
.h1MentionsLegales{
    color: #2E808C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.texteMentionsLegales{
    width: 95%;
    font-size: 25px;
}