@media srcreen and (max-width:168px){
  div.ouvert{
  width: 100%;
  display: block;
  margin-top: -1%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  animation-duration: 3s;
  transition-duration: 3s;
  color: #258083;
  background-color: rgb(255 255 255);
}
}
.texteContainer {
    display: none; 
    margin-bottom: 2%;
  }
  
  .ouvert {
    width: 90%;
    margin:0;
    padding: 10px;
    top: -17px;
    display: block;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    animation-duration: 3s;
    transition-duration: 3s;
    color: #258083;
    background-color: rgb(255 255 255);
  }
  .h1Test{
    color: red;
  }
  .allTexteContainer2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);
  }