@media screen and (max-width: 768px){
    img.imgGalerie{
        width: 85%;
    }
    p.descriptionGalerie {
        margin-top: 0;
        margin-bottom: 5%;
        width: 81%;
        text-align: left;
        font-size: medium;
    }
    h2.h2Galerie{
        text-align: left;
    }
}
/*grand écran*/
.h1Container{
    width: 40%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.h1Galerie{
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.h1Part2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    font-weight: 400
}
.h2GalerieContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4%;
}
.h2Galerie{
    margin-top: 0;
    font-weight: 300;
    color: #F0FD71;
}
.descriptionGalerie{
    margin-top: 0;
    margin-bottom: 5%;
    width: 25%;
    text-align: left;
    font-size: medium;
}
.imgContainer{
    margin-bottom: 10%;
}
.imgGalerie{
    margin: 5px;
    width: 30%;
}
