@media screen and (max-width: 768px) {
  div.cardsServicesContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
  }
  div.allCards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  img.imgCardsServices {
    width: 100%;
    height: auto;
  }
  img.separation{
    width: 100%;   
  }
}

/*grand écran*/
.cardsServicesContainer {
  overflow: hidden;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  border-bottom-left-radius: 8px;
  border-radius: 8px;
  background-color: white;
  background-image: url(../../images/backgroundfleurs3.png);
  background-size: contain;
  /*background-color: #CFC7BC;*/
}

.pServicesContainer{
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allCards {
  padding-top: 0%;
  padding-bottom: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  background-color: rgb(183 209 205);
  /*background: linear-gradient(45deg, #8f8a82, #b3aca1);*/
}
.imgCardsServicesContainer{
  margin-left: 0;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}
.imgCardsServices {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: -webkit-fill-available;
}
.titreServices {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  font-weight: 600;
  font-family: "forum";
  background-color: rgb(183 209 205);
}
.pServicesC1 {
  margin-top: 1%;
  margin-bottom: 0;
  padding: 10px;
  width: 90%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
  color: cadetblue ;
}
.pServicesC2 {
  margin-top: 1%;
  margin: 0;
  padding: 10px;
  width: 90%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
  color: cadetblue ;
}
.pServicesC3 {
  margin-top: 1%;
  margin-bottom: 0;
  width: 90%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;

  color: cadetblue ;
}
.bTitre{
  display: flex;
}
.ServiceContainer{
width: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.servicesG{
  margin-top: 8%;
  text-align: left;
  font-size: 25px;
  color: #258083;
}
.imgSeparationContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separation{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prix{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  font-family: Auto;
  color: cadetblue ;
}
.rappel{
  font-size: 29px;
  color: #258083;
}
.buttonMeContacter{
  margin-top: 3%;
  font-size: 22px;
  padding: 15px;
  border-radius: 4px;
  color: white;
  background-color: #258083;

}
.buttonMeContacter:hover{
  cursor: pointer;
 
}
.aButtonContact:hover{
  cursor:grab;
}