/*@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Creepster&family=EB+Garamond&family=Nanum+Myeongjo:wght@700&family=Philosopher:wght@700&family=Playfair+Display:ital@1&family=Roboto:wght@100&family=Sevillana&family=Smooch+Sans:wght@100;700&display=swap");*/
@media screen and (max-width: 768px) {
  div.cardsServicesContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
  }
  div.allCards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  img.imgCardsServices {
    width: 100%;
    height: auto;
  }
}

/*grand écran*/
.cardsServicesContainer {
  margin: 10px;
  width: 30%;
  min-height: 27em;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 8px;
  border: solid 2px black;
  border-radius: 8px;
  background-color: white;
  /*background-color: #CFC7BC;*/
}
.allCards {
  padding-top: 0%;
  padding-bottom: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  background-color: #f2ebeb;
  /*background: linear-gradient(45deg, #8f8a82, #b3aca1);*/
}
.imgCardsServices {
  width: 100%;
  min-height: 10em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.titreServices {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  /*font-family: "forum";*/
  background-color: #3c4e4f;
}
.pServicesC1 {
  margin-bottom: 0;
  padding: 10px;
  width: 90%;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  /*font-family: "Cormorant Garamond", serif;*/
  color: cadetblue ;
}
.pServicesC2 {
  margin: 0;
  padding: 10px;
  width: 90%;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  /*font-family: "Cormorant Garamond", serif;*/
  color: cadetblue ;
}
.pServicesC3 {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  /*font-family: "Cormorant Garamond", serif;*/
  color: cadetblue ;
}
.servicesG{
  font-size: 15px;
  color: #292727;
}
.separationContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.prix{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  width: 90%;
  text-align: left;
  font-size: medium;
  font-weight: 600;
  font-family: Auto;
  color: cadetblue ;
}