@media screen and (max-width: 768px) {
  div.footerContainer {
    min-height: 0;
    background-color: #ededed;
  }
  div.infoFooterContainer {
    width: 100%;
    min-height: 71vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  div.titreLogoRsContainer {
    width: 100%;
  }
  div.iconeFooterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.iconeWebContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  div.iconeFacebookContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  div.iconeAdresseContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  div.mailContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  div.telContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  img.iconeFooter {
    margin: 0;
    width: 45px;
  }
  p.infoFooter {
    margin: 0;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #18444a;
    font-family:"Dancing Script" ;
  }
  img.logoInstagram {
    width: 25px;
    height: 25px;
  }

  img.logoFacebook {
    margin: 5px;
    width: 13px;
    height: 25px;
  }
  img.logoTwitter {
    width: 25px;
    height: 25px;
  }
  img.logoFooter {
    margin: 10px;
    width: 50%;
    border-radius: 20px;
  }
  div.info2FooterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  div.part1Footer {
    border: none;
    width: 80%;
  }
  p.aFooter {
    margin: 0;
    font-size: 15px;
    color: #3a9696;;
  }
  div.logoRsContainer{
    display: flex;
    flex-direction: column;
  }
  div.part2Footer {
    width: 80%;
  }
  h1.h1Footer{
    font-size: 30px;
  }
  hr.ligne2{
    margin: 0;
    width: 0;
    opacity: 0;
  }
}

/*grand écran*/
.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px white;
  background-color: #ededed;
  font-family: "Dancing Script";
}
.infoFooterContainer {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(183 209 205);;
  /*background-color: #eee5c9;*/
}
.titreLogoRsContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fdf8f8;
  /*background-color: #eee5c9;*/
  /*background-color: #e7dec2;*/
}
.h1Footer {
  width: 90%;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: bold;
  font-family: "Dancing Script";
  color: #2E808C;
}
.h2Footer {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 22px;
  font-weight: 600;
  color: cadetblue;
  font-family: "Dancing Script";
  /*color: #242223;*/
}
.logoRsContainer {
  padding-left: 0;
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logoInstagram {
  margin: 5px;
  width: 35px;
  height: 35px;
  transition-duration: 0.5s;
}
.logoInstagram:hover {
  transition-duration: 0.5s;
  rotate: 20deg;
}
.logoFacebook {
  margin: 5px;
  width: 21px;
  height: 35px;
}
.logoFacebook:hover {
  width: 21px;
  height: 35px;
  transition-duration: 0.5s;
  rotate: 20deg;
}
.logoTwitter {
  margin: 5px;
  width: 35px;
  height: 35px;
  transition-duration: 0.5s;
}
.logoTwitter:hover {
  width: 35px;
  height: 35px;
  transition-duration: 0.5s;
  rotate: 20deg;
}
.logoFooter {
  width: 16%;
  border-radius: 20px;
}
.info2FooterContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*    background-color: #e7dec2;*/
}
.part1Footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: solid 1px white;
  border-left: solid 1px white;
}
.iconeFooterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconeFooter {
  width: 65px;
}
.iconeWebContainer{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.iconeFacebookContainer{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.infoFooter {
  margin: 0;
  padding: 10px;
  font-size: 19px;
  font-weight: 600;
  text-align: left;
  color: white;
  /*color: #18444a;*/
}
.infoFooter:hover{
  color: rgb(133, 170, 164);
}

.part2Footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.aFooter {
  margin: 0;
  font-size: 19px;
  font-weight: 600;
   color: white;
  /*color: #3a9696;*/
}
.aFooter:hover {
  margin: 0;
  color: rgb(133, 170, 164);
  text-shadow: 1px 1px 2px #ffffff ;
}
.ligne {
  width: 70%;
  border-top: 1px solid white;
}
.ligne2{
  width:70%;
  border-top: 1px solid white;
}
.aFacebook{
  width: 80%;
}
.pFacebook{
  color: #2E808C;
  font-size: 19px;
  font-weight: 600;
}
.h2FooterContacterNous{
  color: white;
}
.mailContainer{
  width: 70%;
display: flex;
justify-content: start;
align-items: center;
}
.telContainer{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.iconeAdresseContainer{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}