@media screen and (max-width: 768px) {
  div.pageMenu1Container {
    display: flex;
  }
  div.allH1Container{
    width: 97%;
  }
  div.h1VideoContainer {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  div.h1Container{
    padding: 10px;
    width: 90%;
  }
  h1.h1CV{
    margin-bottom: 0;
  }
  h1.h1Presentation {
    margin: 0;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    font-family: "Cormorant Garamond";
    filter: drop-shadow(2px 1px 1px black);
  }
  div.texteContainer{
    text-align: center;
  }
  div.listeContainer{
    text-align: center;
  }
  video.videoPresentation {
    width: 100%;
    border: 0;
  }
  h2.h2Services {
    width: 100%;
    background-color: #ededed;
    padding: 0; 
}
  div.allCardsCommentaireContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.css-1c2fuzs {
    width: 90%;
  }
  div.css-y5zeoq {
    width: 100%;
  }

  img.imgSeparationCommentaire1 {
    width: 90%;
    margin-bottom: 5%;
  }
  img.imgSeparationCommentaire1-2 {
    width: 90%;
    transform: rotate(180deg);
    margin-bottom: 5%;
  }
  div.imgIntroductionContainer {
    width: 55%;
    display: flex;
}
img.imgIntroduction{
    margin-bottom: 15%;
    width: 100%;
    border-radius: 8px;
  }
  
}

/*grand écran*/
.pageMenu1Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #37948a;*/
  background-color: #f2ebeb;
}
.allH1Container{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1Container{
  margin: 20px;
  width: 80%;
  border-radius: 12px;
  background-color: #2e808cb8;
}
.h1VideoContainer {
  padding: 2%;
  min-height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/backgroundciel.png');
  background-repeat: no-repeat;
  background-size: cover;
  /*background: linear-gradient(45deg, #FEFBC6, #f4cd89);*/
}
.h1CV{
  padding-top: 3%;
  font-family: 'Dancing Script';
  font-weight: 100;
}

.h1Presentation {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font-size: 22px;
  font-weight: 600;
}
.videoPresentation {
  width: 45%;
  height: 100%;
  border: solid 2px;
  border-left: solid 1px;
}
.h2Services {
  margin-top: 0%;
  margin-bottom: 0;
  width: 100%;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 200;
  font-family: "Dancing Script";
  background-color: #f2ebeb;

  padding-left: 4%;
  padding-right: 4%;
  margin: 4%;
  width: auto;
  text-align: center;
  color: rgb(34, 28, 28);
  border: solid 1px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff99;
  position: relative;
  top: -2%;
  font-size: 38px;
  font-weight: 600;
}
.allCardsCommentaireContainer {
  padding: 5%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: white;
}
.css-1c2fuzs {
  width: 30%;
}
.css-y5zeoq {
  width: 100%;
}
.imgSeparationCommentaire1 {
  width: 40%;
  margin-bottom: 0%;
}
.imgSeparationCommentaire1-2 {
  width: 10em;
  transform: rotate(180deg);
  margin-bottom: 5%;
}
.imgIntroductionContainer{
  width: 60%;
  display: flex;
}
.imgIntroduction{
  width: 100%;
  min-height: auto;
}
.h2BandeauConnaissance{
  min-height: 15em;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/papillon2.png);
}
.h2ContainerConnaissance{
  width: 100%;
  text-align: left;
  font-family: 'Cormorant Garamond';
}
.h2Connaissance{
  text-align: left;
}
.textInfo{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-left: 3%;
  width: 90%;
  font-size: 22px;
  text-align: left;
  color: black;
}
.h2CommentairesContainer{
  width: 100%;
  min-height: 6em ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdn.pixabay.com/photo/2020/10/12/16/45/pattern-5649403_1280.jpg');
}
.texteContainer{
  padding: 3%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: left;
  font-family: auto;
  font-size: 22px;
  background-color: white;
  color: black;
}
.bstitre{
  font-weight: 400;
}
.listeContainer{
  text-align: left;
}
a{
  color: orange;
}