@media screen and (max-width: 768px) {
  div.pageMenu1Container {
    display: flex;
  }
  div.h1VideoContainer {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../../images//backgroundfleurs.jpg);
  }
  div.h1Container{
    padding: 10px;
    width: 90%;
  }
  h1.h1Presentation {
    margin: 0;
    width: 100%;
    font-size: 15px;
    font-family: "Cormorant Garamond";
    filter: drop-shadow(2px 1px 1px black);
  }
  video.videoPresentation {
    width: 100%;
    border: 0;
  }
  h2.h2Services {
    width: 100%;
    background-color: #ededed;
  }
  div.allCardsCommentaireContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.css-1c2fuzs {
    width: 90%;
  }
  div.css-y5zeoq {
    width: 100%;
  }
  img.imgSeparationCommentaire1 {
    width: 90%;
    margin-bottom: 5%;
  }
  img.imgSeparationCommentaire1-2 {
    width: 90%;
    transform: rotate(180deg);
    margin-bottom: 5%;
  }
  img.imgIntroduction{
    width: 100%;
  }
}

/*grand écran*/
.pageMenu1Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1Container{
  width: 60%;
}
.h1VideoContainer {
  padding: 2%;
  min-height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../../images//backgroundfleurs.jpg);
}

.h1Presentation {
  margin-right: 50px;
  width: auto;
  font-size: 22px;
  font-family: "Cormorant Garamond";
  filter: drop-shadow(2px 1px 1px black);
}
.videoPresentation {
  width: 45%;
  height: 100%;
  border: solid 2px;
  border-left: solid 1px;
}
.h2Services {
  margin: 0;
  width: 100%;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 200;
  font-family: "Dancing Script";
  color: #242223;
  background-color: #ededed;
}
.allCardsCommentaireContainer {
  margin: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.css-1c2fuzs {
  width: 30%;
}
.css-y5zeoq {
  width: 100%;
}
.imgSeparationCommentaire1 {
  margin-bottom: 0%;
}
.imgSeparationCommentaire1-2 {
  transform: rotate(180deg);
  margin-bottom: 5%;
}
