.PagePrincipaleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/papillon2.png);
  background-size: cover;
  background-position: initial;
}
.PagePrincipaleContainer2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4aafab;
}
