/*@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');*/
.App {
  text-align: center;
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #4aafab;
}
.App-header2{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #4aafab;
}
.App-link {
  color: #4aafab;
}

