/*mobile*/
@media screen and (max-width: 768px) {
  div.pageContactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }
  div.horairec{
    width: 57%;
  }
  div.horairesContainer {
    margin-bottom: -14%;
    padding-left: 0%;
    text-align: center;
    width: 100%;
  }
  d1.d1Contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1.h1Horaires {
    font-size: 2em;
    color: #258083;
  }
  img.imgContact {
    width: 100%;
  }
  div.mailTelAdresseContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  div.logoTexteContainer {
    width: 100%;
  }
  img.logoTel {
    margin: 0px;
    width: 54px;
  }
  img.logoMail {
    margin: 0px;
    width: 51px;
  }
  img.logoAdresse {
    margin: 0px;
    width: 54px;
  }
  img.imgGoogleMap{
    width: 90%;
  }
  div.logoRsContainer{
    width: 90%;
  }
  h2.h2Horaires{
    height: auto;
    font-size: 22px;
    text-shadow: -1px 0px rgba(0, 0, 0, 0.2);
  }
  p.sTitreHoraire{
    margin-bottom: 0;
    padding: 10px;
  }
  p.sTitreHoraire2{
    margin: 0;
    margin-bottom: 6%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Dancing Script";
  }

  img.logoClick{
    width: 22%;
    position: relative;
    transform: matrix(1, 0, 0, 1, 0, 102);
    scale: 1.1;
  }
  
}

/*grand écran*/
.pageContactContainer {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #258083;
  background: linear-gradient(45deg, #cae6e2, #caedeb);
}
.horairesContainer {
  padding-left: 2%;
  width: 30%;
  text-align: centers;
}
.d1Contact{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pHoraires {
  margin: 0;
  font-size: 22px;
  color: #258083;
  font-family: "Dancing Script";
}
.imgGoogleMap {
  width: auto;
  min-height: 14em;
  border: solid #2580838a;
  border-radius: 15px;
}
.jour-de-la-semaine {
  margin-right: 3%;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  color: cadetblue;
  font-family: "Dancing Script";
}
.mailTelAdresseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.logoTexteContainer {
  margin-top: 2%;
  width: 20%;
}
.logoTel {
  margin: 10px;
  width: 100px;
}
.logoMail {
  margin: 10px;
  width: 100px;
}
.logoAdresse {
  margin: 10px;
  width: 100px;
}
.pInfo {
  font-size: 19px;
  font-weight: 600;
  color: cadetblue;
}
.h1Horaires {
  font-size: 45px;
  color: #258083;
}
.allPageContactContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Dancing Script";
}
.sTitreHoraire{
  margin-bottom: 6%;
  font-size: 30px;
  font-weight: bold;
  font-family: "Dancing Script";
}
.titreHoraireContainer{
  width: 100%;
  height: 11em;
  display: flex;
  justify-content: left;
  align-items: center;
  background-size:auto;
  background-image: url(../../images/bandeaucontact4.png);
}
.h2Horaires{
  margin-left : 2%;
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  font-family: "Dancing Script";
  color: #258083;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}
.horairec{
  width: 43%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.iconeLotus{
  width: 20%;
}
.logoClick{
  width: 0;
}