/*mobile*/
@media screen and (max-width: 768px) {
  div.pageContactContainer {
    min-height: 0vh;
    min-width: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
    background-image: none;
  }
  div.horairesContainer {
    margin-bottom: 0%;
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  h1.h1Horaires {
    font-size: 2em;
    color: white;
  }
  img.imgContact {
    width: 100%;
    border: solid 0px;
  }
  div.mailTelAdresseContainer {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  div.imgLogoContainer{
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  div.logoTexteContainer {
    width: 100%;
  }
  img.logoTel {
    margin: 0px;
    width: 38px;
  }
  img.logoMail {
    margin: 0px;
    width: 51px;
  }
  img.logoAdresse {
    margin: 0px;
    width: 25px;
  }
  p.pHoraires{
    width: 80%;
  }
}

/*grand écran*/
.pageContactContainer {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-image: url(../../images/a2.jpg);
  background-size: cover;
}
h1.h1Horaires{
  margin-top: 5%;
  color: #3d3a3a;
}
.horairesContainer {
  padding-left: 10%;
  width: 80%;
  text-align: left;
}
.pHoraires {
  margin: 0;
  padding: 10px;
  width: 51%;
  font-size: 22px;
  font-weight: 600;
  filter: brightness(0.5);
  font-family: 'Roboto';
  color: #2f2c2c;

}
.imgContact {
  margin-top: 20px;
  width: 36%;
  border: solid;
}
.jour-de-la-semaine {
  margin-bottom: 0;
}
.mailTelAdresseContainer {
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logoTexteContainer {
  margin-top: 2%;
  width: 20%;
}
.logoTel {
  margin: 10px;
  width: 50px;
}
.logoMail {
  margin: 10px;
  width: 65px;
}
.logoAdresse {
  margin: 10px;
  width: 35px;
}
.pInfo {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #3d3a3a;
}
.imgLogoContainer{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 10%;
}
.telContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.logoTel{
  width: 25px;
}