@media screen and (max-width: 768px) {
  /*mobile*/
  div.cardsPagePrincipaleContainer {
    width: 90%;
  }
  div.cards1and2Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.cards1Container {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    text-decoration: none;
  }
  a {
    list-style: none;
    text-decoration: none;
  }
 
  div.cards3Container {
    margin-bottom: 20%;
    width: 100%;
    background-color: #ededed;
  }
  div.titreMenu3 {
    background-color: #e1e1e1;
  }
  a{
    display: flex;
    justify-content: center;
  }
  a.aLeBlog{
    width: 100%;
  }
  img.imgLivreMontagne{
    width: 57%;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}


.cardsPagePrincipaleContainer {
  margin-top: 4%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4aafac00;
}
.cards1and2Container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cards1Container {
  margin: 10px;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(../../images/a1.jpg);
}
a {
  list-style: none;
  text-decoration: none;
}
.titreMenu1 {
  opacity: 90%;
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  transition-duration: 1s;
  color: #2E808C;
  background-color: #ededed;
}
.titreMenu1:hover{
  transition-duration: 0.5s;
  color:#242223;
  background-color: white;

}
.cards2Container {
  margin: 10px;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(../../images/a3.jpg);
}
.titreMenu2 {
  opacity: 90%;
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  transition-duration: 0.5s;
  color: #2E808C;
  background-color: #ededed;
}
.titreMenu2:hover{
  color:#242223;
  background-color: white;
  transition-duration: 0.5s;

}
.cards3Container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 99%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-bottom-right-radius: 5px;
  background-position: center;
  background-color: #ededed;
}
.titreMenu3 {
  opacity: 90%;
  width: 78%;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  font-size: 20px;
  color: #2E808C;
  background-color: #e1e1e1;
}


  div.cardsPagePrincipaleContainer2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4aafab;
  }
  div.cards1and2Container2 {
    display: flex;
    flex-direction: column;
    background-color: #4aafab;
  }
  div.cards1Container {
    text-decoration: none;
  }
  a {
    list-style: none;
    text-decoration: none;
  }


/*grand écran*/
.cardsPagePrincipaleContainer2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4aafab;
}
.cards1and2Container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cards1Container {
  margin: 5px;
  margin-right: 2%;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(../../images/ange3.png);
  border-radius: 4px;
}
a {
  list-style: none;
  text-decoration: none;
}
.titreMenu12 {
  opacity: 90%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #709CA7;
}
.cards2Container {
  margin: 5px;
  margin-left: 2%;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(https://cdn.pixabay.com/photo/2018/04/13/11/17/paper-3316268_960_720.jpg);
  border-radius: 4px;
}
.titreMenu22 {
  opacity: 90%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color:  #709CA7;
}
.cards3Container2 {
  width: 99%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #4aafab;
}
.titreCards3Container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #709CA7;
}
.titreMenu3 {
  margin: 0;
  opacity: 90%;
  width: 78%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #709CA7;
}
.aLeBlog{
  width: 60%;
}
.imgLivreMontagne{
  width: 60%;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}



